.course-node {
    height: 100px;
    border: 1px solid #eee;
    padding: 5px;
    border-radius: 5px;
    background: white;
    width: fit-content;
  }

.course-node-title-text {
    color: black;
}

.course-node-offering-name-text {
    color: gray;
}